* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 20px;
    line-height: 1;
    box-sizing: border-box;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
    background-color: #ccc;
    border: 5px solid black;
}
body {
    background-color: steelblue;
}
div {
    background-color: yellow;
    width: 3000px;
}
hr {
    background-color: yellow;
    border: 0;
    float: left;
}
hr.normal {
    background-color: lime;
    height: 5px;
    width: 3000px;
}
hr.rotate {
    background-color: orange;
    height: 3000px;
    width: 5px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
article {
    border: 1px solid red;
    line-height: 2;
    padding: 1em;
    position: fixed;
    text-align: right;
    top: 100px;
    white-space: pre-line;
}
article, article * {
    font-size: 10px;
}
article.desktop {
    left: 150px;
    width: 250px;
}
article.legend {
    left: 20px;
    width: 131px;
}
h4 {
    font-size: 14px;
    margin: -1em 0;
    text-align: left;
}
input {
    text-align: center;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
